/* fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  outline: 1px solid red;
}

/* html,body and visually hidden */
html {
  height: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  background-color: #ffffff;
}

.body-container {
  margin: 0 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 1200px;
  min-height: 100%vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.page-header {
  display: flex;
  gap: 20px;
  padding: 0 70px;
}

.city-logo {
  display: block;
  width: 138px;
  height: 64px;
}

.navigation {
  display: flex;
  gap: 28px;
  flex-grow: 1;
}

.navigation-tabs {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: auto;
}

.navigation-link {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  display: block;
  padding: 20px 16px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: inherit;
  min-width: 20px;
  min-height: 20px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 268px;
}

.navigation-element-link {
  min-width: 44px;
  min-height: 64px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-button {
  background-color: #756157;
  min-width: 160px;
  padding: 8px 34px;
}

/* main */

.welcome-text-img {
  display: block;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/index-header-bg.jpg");
  background-color: #a38079;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
}

.billboard {
  color: #333333;
}

.billboard b {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.billboard .big-bottom-margin {
  margin-bottom: 25px;
}

.billboard p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* .advantages section */

.billboard.upper {
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  color: #333333;
  width: 400px;
  min-height: 385px;
}

.advantages-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.big-block {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
  width: 100%;
}

.advantages-item-wrapper {
  padding: 112px 85px;
}

.big-block .advantages-item-wrapper {
  padding: 102px 85px;
}

.billboard.middle {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* services-list list */

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.services-list li {
  width: 400px;
}

.services-list h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 183px;
  margin-bottom: 30px;
}

.services-list p {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 85px 81px;
}

.services-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.billboard.lower {
  padding-top: 96px;
  padding-bottom: 54px;
}

/* room-search section */

.room-search-button {
  background-color: #756157;
  min-width: 375px;
  min-height: 52px;
  display: block;
  margin: 0 auto;
}

/* subscription section */

.subscription-main {
  background-image: url("../images/subscribe-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-form {
  display: flex;
  flex-direction: row;
}

.subscription-input {
  width: 452px;
}

.subscription-main .billboard {
  color: #ffffff
}

.billboard.subscription-billboard {
  padding-top: 96px;
  padding-bottom: 54px;
}

.big-button {
  font-size: 20px;
  line-height: 36px;
}

/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-phone {
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  color: inherit;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* catalog */
/* main */
.main-inner {
  flex-grow: 1;
}

.filter-wrapper {
  background-image: url("../images/filter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

/* catalog-filter */

.catalog-filter {
  display: flex;
  width: 1060px;
  justify-content: flex-start;
}

.catalog-filter-group {
  min-width: 150px;
  padding-right: 70px;
}

.range-price {
  min-width: 288px;
}

.form-buttons {
  margin-left: auto;
  min-width: 191px;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.transparent-button {
  background-color: unset;
}



/* objects-catalog */
/* catalog-header */

.objects-catalog {
  padding: 50px 70px 60px;
}
.catalog-info {
  color: #000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.objects-header {
  display: flex;
}

.menu-view-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.select-control {
  width: 292px;
  height: 49px;
  align-self: center;
}

/* card-list & cards */

.objects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.product-card-button {
  background-color: #756157;
}

.object-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 20px;
  align-items: center;
  padding: 19px;
}

.link-image {
  grid-column: span 2;
  justify-self: center;
}
.object-card-image {
  display: block;
  width: 100%;
  height: auto;

}
.link-title {
  grid-column: span 2;
}

.object-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: inherit;
}

.object-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

.green-button {
  background-color: #7db54f;
}



/* pagination */
.pagination-link {
  text-decoration: none;
  color: inherit;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style: none;
}

.subscription-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue-button {
  background-color: #82b3d3;
  color: #ffffff
}

.grey-button {
  background-color: #f2f2f2;
  color: inherit;
}
